@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-accent: #8b5cf6;
  --color-black: #0a0a0a;
  --color-white: #ffffff;
  --color-dark-grey: #1a1a1a;
  --color-grey: #a1a1aa;

  --color-linear: linear-gradient(
    90deg,
    rgba(26, 26, 26, 0) 0%,
    rgba(26, 26, 26, 1) 50%,
    rgba(26, 26, 26, 0) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-black);
  color: var(--color-grey);
  font-family: Arial, Helvetica, sans-serif;
}
